# Application Configuration
PORT=3000
NODE_ENV=development

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Mock System & Resilience Configurations
SALES_API_TIMEOUT=3000
SERVICE_API_TIMEOUT=3000
CIRCUIT_BREAKER_FAILURE_THRESHOLD=0.5
CIRCUIT_BREAKER_RESET_TIMEOUT=30000

# Tracing and Logging Configuration
ENABLE_PINO_LOGGER=true 
ENABLE_PRETTY_LOGGER=true 
ENABLE_OTEL_TRACING=false